.button-i2732315220-yif20o {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732315320-0T6nFS {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732315520-Qmx17A {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732315620-ij7Fzo {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732315820-H8ViSa {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732315920-DuqXPm {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2732316020-sSvfiB {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.i27323152-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27323153-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27323155-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27323156-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27323158-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27323159-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.i27323160-2022185 {
  height: 40px;
  margin-right: 51px;
  margin-top: 26px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.master-button-05WVO5 {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-BwFaO1 {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-F2SWHe {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-FBKh5H {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-Tx3hGw {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-xNmCxX {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-xRnxGk {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
